---
import Layout from "@layouts/Layout.astro";

---

<Layout 
	title="Ecology"
	description="Här bloggar jag"
>
	<h1>Axel Schnürer</h1>
    <h2>Blog</h2>
	<p>Portfolio currently under construction. Please check back later</p>
</Layout>
