---
import Layout from "@layouts/Layout.astro";
---

<Layout 
	title="Blog"
	description="Här bloggar jag"
>
    <container-text class="margin-inline-auto">
        <h1>Blog</h1>
    <container-text>

</Layout>
