---
import Layout from "@layouts/Layout.astro";

---

<Layout 
	title="Ecology"
	description="Här samlar jag info om hur jag jobbar med ekologi"
>
	<h1>Axel Schnürer</h1>
    <h2>Ecology</h2>
	<p>Portfolio currently under construction. Please check back later</p>
</Layout>
