---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Axel Schnürer - Portfolio</title>
	</head>
	<body>
		<h1>Axel Schnürer</h1>
		<p>Portfolio currently under construction. Please check back later</p>
	</body>
</html>
