---
import Layout from "@layouts/Layout.astro";

---

<Layout 
	title="Home"
	description="Välkommen till min portfolio"
>
	<h1>Axel Schnürer</h1>
	<p>Portfolio currently under construction. Please check back later</p>
</Layout>
