---
import Layout from "@layouts/Layout.astro";

---

<Layout 
	title="Home"
	description="Välkommen till min portfolio"
>
	<container-text class="margin-inline-auto">
		<h1>Axel Schnürer</h1>
		<p>Portfolio currently under construction. Please check back later</p>
	</container-text>
</Layout>
