---
import Layout from "@layouts/Layout.astro";

---

<Layout 
	title="Home"
	description="Välkommen till min portfolio"
>
	<main class="padding-inline-50">
		<container class="margin-inline-auto">
			<article>
				<h1 class="margin-bottom-0">Axel Schnürer</h1>
				<small>Frontend develeoper</small>
			</article>
		</container>
		<div style="height: 200vh;"></div>
	</main>
</Layout>

<style>

	h1 {
		font-size: 2rem;
	}

	img { 
		border-radius: .5rem;
		height: 775px;
		max-height: 100dvh;
		width: 100%;
		object-fit: cover;
		object-position: 90% 25%;
	}
</style>
