---
import Layout from "@layouts/Layout.astro"
import { pbFetch } from "@functions";

const projects = await pbFetch({
    collection: "projects",
    sort: 'title'
});

---

<Layout 
	title="Projects"
	description="My projects"
>
    <container class="margin-inline-auto">
        <h1>Projects</h1>
        {projects.map((project: any) =>
            <a href={`/projects/${project.id}`} class="block margin-block-100">{project.title}</a>
        )}
    <container>

</Layout>
