---
import '@styles/main.css'

interface Props {
    title: string,
    description: string
}


const { title, description } = Astro.props;

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} - Axel Schnürer</title>
        <meta name="description" content={description}>
    </head>
	<body class="margin-0">
        <header class="margin-50">
            <container class="margin-inline-auto padding-50">
                <flex class="align-items-center justify-content-space-between margin-inline-200">
                    <img src="/icons/dog.svg" alt="" />
                    <nav class="flex align-items-center gap-100">
                        <a href="/">Home</a>
                        <a href="/blog">Blog</a>
                        <a href="/#contact" class="cta">Contact</a>
                    </nav>
                </flex>
            </container>
        </header>
        <slot></slot>
        <footer>
            <container class="margin-inline-auto padding-100 flex gap-100 justify-content-space-between">
                <section>
                    <a href="https://github.com/Axelgustavschnurer" target="_blank">Github</a>
                    <a href="https://www.linkedin.com/in/axel-schn%C3%BCrer/" target="_blank">LinkedIn</a>
                </section>
                <nav>
                    <a href="/">Home</a>
                    <a href="/Blog">Blog</a>
                    <a href="/#contact">Contact</a>
                </nav>
            </container>
        </footer>
	</body>
</html>

<style>
    header {
        position: sticky;
        top: .5rem;
    }

    header * {
        color: black;
        font-weight: 500;
        text-decoration: none
    }

    header > container {
        backdrop-filter: blur(1px);
        border-radius: .25rem;
        background-color: rgba(102,168,122, .5);
        box-shadow: 0 0 .5rem -.25rem rgba(102,168,122);
    }

    footer > container {
        backdrop-filter: blur(1px);
        border-radius: .25rem .25rem 0 0;
        background-color: rgba(102,168,122, .5);
        box-shadow: 0 0 .5rem -.25rem rgba(102,168,122);
    }

    .cta {
        padding: .5rem;
        background: linear-gradient(-45deg, #a86694, #c293b4);
        box-shadow: 2px 2px 0 #a86694;
        transition: box-shadow .1s ease-out;
        border-radius: .25rem;
    }

    .cta:active {
        box-shadow: none;
    }

</style>
