---
import '@styles/main.css'

interface Props {
    title: string,
    description: string
}


const { title, description } = Astro.props;

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} - Axel Schnürer</title>
        <meta name="description" content={description}>
    </head>
	<body class="margin-0">
        <header class="padding-50 margin-100">
            <container-text class="margin-inline-auto flex align-items-center justify-content-space-between">
                <img src="/icons/dog.svg" alt="" />
                <nav class="padding-50 flex align-items-center justify-content-flex-end gap-100">
                    <a href="/">Home</a>
                    {/*
                        <a href="/dev">Dev stuff</a>
                        <a href="/ecology">Ecology stuff</a>
                    */}
                    <a href="/blog">Blog</a>
                </nav>
            </container-text>
        </header>
        <main>
		    <slot></slot>
        </main>
	</body>
</html>

<style>
    header {
        backdrop-filter: blur(1px);
        border-radius: .25rem;
        background-color: rgba(102,168,122, .5);
        box-shadow: 0 0 .5rem -.25rem rgba(102,168,122);
        position: sticky;
        top: .5rem;
    }

    header * {
        color: black;
        font-weight: 500;
        text-decoration: none
    }

</style>