---
import '@styles/main.css'

interface Props {
    title: string,
    description: string
}


const { title, description } = Astro.props;

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} - Axel Schnürer</title>
        <meta name="description" content={description}>
    </head>
	<body class="margin-0">
        <header class="margin-50">
            <container class="margin-inline-auto padding-100">
                <flex class="align-items-center justify-content-space-between">
                    <img src="/icons/dog.svg" alt="" />
                    <nav class="flex align-items-center gap-100">
                        <a href="/">Home</a>
                        <a href="/blog">Blog</a>
                    </nav>
                </flex>
            </container>
        </header>
        <slot></slot>
	</body>
</html>

<style>
    header {
        position: sticky;
        top: .5rem;
    }

    header * {
        color: black;
        font-weight: 500;
        text-decoration: none
    }

    header > container {
        backdrop-filter: blur(1px);
        border-radius: .25rem;
        background-color: rgba(102,168,122, .5);
        box-shadow: 0 0 .5rem -.25rem rgba(102,168,122);
    }

</style>